*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: #F1F8FD;
}
.container h1{
    text-transform: capitalize;
    color: #000;
}
.btn{
    background: none;
    padding: 10px 20px;
    margin: 0 20px;
    border: 3px solid #191919;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: all 0.2s ease-in-out;
}
.btn:hover{
    background-color: #191919;
    color: #fff;
}
.num{
    font-size: 54px;
    color: #191919;
    margin: 0 auto 20px auto;
}